/*Blog container*/
.blogContainer { position: relative; }
        .blogContainer .summary {
            float: left;
            width: 30%;
            margin-right: 10px;
            font-size: 12px;
            color: green; 
            }   

            /* No change is happening with this class name:
             .blogContainer .summary .item p {
               font-family: 'Rochester', cursive;
               font-size: 24px;
               text-decoration-color: green; 
             }
             */

                        

        .blogContainer .summary .item img { 
            width: 100%;
        }


        .blogContainer .summary .item li {
            font-size: 18px;
        }
            
        

        /* To call the Blog li list class in a different way:
        .container .blog li {
            font-size: 20px;
        }*/


        .blogContainer .summary .item {
            position: relative;
        }
        .blogContainer .summary .date-holder {
            position: absolute;
            left: 0;
            bottom: 0;
            background-color: green;
            text-align: center;
            padding: 15px;
        }
        .blogContainer .summary .date-holder span { 
            color: #fff;
            display: block; 
            font-weight: bold;
            text-transform: uppercase;
            font-size: 14px;
        }
        
        /* To test a different class name for paragraph:
        .blogContainer .summary .lead {
            color: green;
            font-size: 20px;
            font-weight: bold;
        }
    
        .blogContainer .summary .item .lead p {
            font-size: 24px;
            font-weight: bold;
            color: green;
            }

        .blogContainer .summary .blogDetail p {
            font-size: 24px;
            color: #000;
        }

        */
        
        .blogContainer .summary .blogDetail {
        margin-top: 21px;
        padding-top: 21px;
        border-top: 1px dashed #e5e5e5;
        border-top-width: 1px;
        border-top-style: dashed;
        border-top-color: rgb(229, 229, 229);
        font-weight: 600;
        
    }

    body { 
    font-family: "Helvetica Neue",Arial,sans-serif;
    font-size: 1rem;
    word-wrap: break-word;
    overflow-wrap: break-word;
    background-color: lightyellow;
    background-size: cover;
    margin: 0;
    padding: 0;
    padding-color: orange;
}

*{
  box-sizing: border-box;
}

.jumbotrontext-center {
  float: left;  
}

 .jumbotrontext-center .jumbotronText-center .container {
 color: orange;
}

.jumbotrontext-center h1 {
  font-family: 'Rochester', cursive;
    font-weight: 400%;
    font-size: 78px;
    color: green; 
    }
/* to test background image on the bottom
.cssbackgroundImages .bottom {
    background-size: cover;
    background-image: url(../img/8-high-protein-vegan-sources.jpg); 
*/

.col-sm-4 h2 {
    color: green;
    font-family: 'Rochester', cursive;
    font-weight: 400%;
    font-size: 24px;
    }

.col-sm-4 {
    float: left;
    width: 33%;
    background-color: h000; 
    margin-left: 0px;
    margin-right: 0px;
}


.col-sm-4 p {
   color: #000;
    font-size: 14px; 
}

.header {
  background-color: lightyellow;
  padding-color: orange;
}
.container h2, h3 { 
    margin-top: 0;
    padding: 0;
    color: green
    font-size: 14px;
    }

a {
    text-decoration: none;
}
address {
    font-style: normal;
}
.clear {
    overflow: auto;
}
.content {
    margin: 0 25px;
}
.container p {
    color: #000;
    font-size: 14px;
}

.blog .container h1 {
  color: green;
    font-family: 'Rochester', cursive;
    font-weight: 400%;
    font-size: 36px;
    }


.blog .container li {
    font-size: 18px;
}
.row-box {
    position: relative;
    display: inline;
    width: 100%;
    clear: left;
}
.col {
    float: left;
    width: 33%;
}

.clear, .clearfix {
  overflow: auto;
}

.clear::after,
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.floatleft {
    float: left;
}
.floatright {
    float: right;
}
#food .image {
    width: 33%;
    margin-right: 1%;
}
#food .text {
    width: 33%;
}
#food .image img {
    display: block;
    width: 100%;
}
#food .col {
    width: 33%;
}
#food .col img {
    display: block;
    width: 100%;
}

.row {
    background-color: #h000;
    /* display: inline; */
    /* float: left; */
}

 .col-lg-2 h4 {
    font-family: 'Rochester', cursive;
    font-weight: bold;
    font-size: 24px;
   color: green;
 }

 .col-lg-2 li {
    font-size: 12px;
 }



/* Style for Nav Bar */
#nav {
    display: block;
    position: relative;
    margin-bottom: 40px; 
    color: #373a3c;
}
#nav .logo { 
    float: left; 
}
#nav .nav-list { 
    float: right;
    font-weight: bold;
    font-size: 16px;
}
#nav .nav-list a { 
    color: green;
}
ul.navbar {
    display: inline;
    text-align: right;
    margin: 15% 0 0 0;
}
.navbar li {
    font-family: 'Rochester', cursive;
    font-weight: bold;
    text-decoration-color: green;
    font-size: 16px;
    display: inline;
    margin-right: 23px;
    color: green;

}

.banner {
    background-color: #009ddc;
    padding: 20px 40px;
}

.banner h1 {
    font-size: 60px;
    text-transform: uppercase;
    text-align: center;
    color: white;
}
.banner p {
    font-size: 22px;
    color: #000;
    font-weight: 200;
}
 

.blog-content {
    position: relative;
    display: block;
    width: 100%;
    clear: left;
}

.blog-content .image-container {
    float: left;
    width: 36%;
    margin-right: 5%;
}

.blog-content .post-container {
    float: left;
    width:40%;
}

.blog-content .post-container p{
    color: black;
}

/* Styling for HTML blog table:
table.table-content { 
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: red;
}
table.table-content td {
    padding: 0 5% 0 0;
    vertical-align: top;
}
table.table-content img {
    width: 100%;
}*/

/* Styling for HTML contact box */
#contact a {
  color: #07aeda;
  text-decoration: none;
}

/* Using background images */
.cssBackgroundImages {
    background-repeat: no-repeat;
    background-position: top left;
    background-color: #000;
    padding: 100px; 
    display: 100%
   }

   ..cssBackgroundImages img {
    display: 100%;
    width: 100%;
   }

.cssBackgroundImages.bgVegetables {
    background-size: cover;
    background-image: url(../img/vegetables.jpg); 
}

.cssBackgroundImages.bgVegetables img {
    display: 100%;
    width: 100%;

}

.cssBackgroundImages.bgVegan {
    background-size: cover;
    background-image: url(../img/veganfruitsalad.jpg);
}
.cssBackgroundImages.bgVegan img {
    display: 100%;
    width: 100%;
}

.cssBackgroundImages.vgDish1 {
    background-size: cover;
    background-image: url(../img/vegandish1.jpg);
}

.cssBackgroundImages.vgDish1 img {
    display: 100%;
    width: 100%;
}

.cssBackgroundImages .container {
    padding: 100px;
    color: #fff;
    text-align: center; 
    position: relative;
    background: rgb(204, 204, 204); /* Fallback for older browsers without RGBA-support */
    background: rgba(204, 204, 204, 0.5);
    }


.cssBackgroundImages span {
    font-family: 'Rochester', cursive;
    font-weight: 400%;
    font-size: 100px;
    color: white; 
}

.cssBackgroundImages h2 {
 font-family: 'Rochester', cursive; 
 font-weight: bold;
    font-size: 48px;
    color: white;   
}

.cssBackgroundImages p {
font-family: 'Rochester', cursive; 
 font-weight: bold;
font-size: 24px;
color: white;   
}


/* Form Formating 
    font-family: 'PT Sans', sans-serif;
    font-family: 'Lilita One', cursive;
    font-family: 'Barlow', sans-serif;
*/
textarea, select, input, button { outline: none; }

.clearfix { overflow: auto; }
.clearfix:before,
.clearfix:after {
    content: " "; 
    display: table;
}

.clearfix:after {
    clear: both;
}
.page-banner {
    background-color: #444;
    color: #fff;
    padding: 50px 0;
    text-align: center;
    margin-bottom: 25px;
}
.page-banner h1 {
    font-family: 'PT Sans', sans-serif;
    font-size: 60px;
}
#contactform, .form-row {
    position: relative;
    margin-bottom: 10px;
}
.containerposition {
    margin: 0 auto;
    width: 80%;
}
/* Style for API JSON */
#dohmh #dohmh_container { 
    position: relative; 
    display: flex;
    flex-wrap: wrap;
}
#dohmh_container .boxes {
    float: left;
    width: 30%;
    margin-right: 1%;
}

.form-wrap .form-group {
    margin-bottom: 10px;
}
.form-row  .form-group {
    float: left;
    margin: 0 10px 0 0;
}
.form-group small {
    color: #6c757d;
    font-size: 80%;
    font-weight: 400;
}
.form-wrap .form-group label {
    font-family: 'PT Sans', sans-serif;
}
.form-wrap .form-group input {
    border: 1px solid #ccc;
}
.form-wrap .form-group input.error {
    border: 1px solid red;
}

.form-wrap .form-group input[type="text"] {
    width: 100%;
    max-width: 300px;
}
.form-wrap .form-group label,
.form-wrap .form-group input {
    display: block;
}
.form-wrap .form-check label,
.form-wrap .form-check input {
    display: inline-block;
}
.form-wrap fieldset {
    border: 0;
    padding: 0;
}

.form-wrap fieldset .sidecheckbox label,
.form-wrap fieldset .sidecheckbox input {
    display: inline;
}

.form-wrap .btn {
    color: #fff;
    font-size: 18px;
    font-family: 'Barlow', sans-serif;
    background-color: #007bff;
    border: 0;
    border-color: #007bff;
    border-radius: 50%;
    text-shadow: none;
    display: block;
    margin: 0 auto;
    cursor: pointer;
    width: 100px;
    height: 100px;
}

.form-wrap .btn:hover {
    text-shadow: 2px 2px #444;  
/*
    horizontal offset  vertical offset blur radius (optional) spread radius (optional) Color
*/
    -moz-box-shadow:    3px 3px 5px 6px #ccc;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    box-shadow:         3px 3px 5px 1px #ccc;}

/* Footer HTML5 */
footer {
    background-color: #444;
    color: gray;
    margin-top: 5%;
    padding: 5% 0;
    text-align: center;
}

.footer h2 {
font-family: 'Rochester', cursive; 
 font-weight: bold;
    font-size: 24px;
    color: green;   
}
footer a,
footer a:link,
footer a:visited,
footer a:active {
    color: #fff;
}

/*
Make sure to set grid values in px (not rem, em, or %)
    sm:     420px,
    md:     720px,
    lg:     960px,
    x-lg:   1024px
----CSS3 transition
-- transition sets
transition: font-size 12s;  transition is set to font-size at 12 seconds duration
transition: color 12s;      transition is set to color at 12 seconds duration
-- combine them all into one declaration:
transition: all 0.3s ease;
-webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
            -ms-transition: all 0.3s ease;
transition: color 12s, font-size 12s;
-webkit-transition: color 12s, font-size 12s;
   -moz-transition: color 12s, font-size 12s;
     -o-transition: color 12s, font-size 12s;
*/
@media (max-width: 420px) {
    #dohmh_container .boxes {
        width: 100%;
    }
}

@media (max-width: 720px) {
    .banner h1 {
        font-size: 32px;
        transition: font 3s ease;
    }
}
@media (min-width: 960px) {
    .banner h1 {
        font-size: 60px;
        transition: font 5s ease;
    }
}